* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tinos", serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 14px;
    text-align: left;
}

main {
    padding: 20px;
}

.intro {
    background-color: #e8f5e9;
    padding: 5rem;
    border-radius: 5px;
    margin-bottom: 40px;
}

.intro h1 {
    color: #4CAF50;
    text-align: center;
    font-size: 2.5rem;
}

.intro p {
    text-align: center;
    line-height: 1.6;
    margin: 10px 0;
}

img {
    margin-top: 3rem;
    width: 100%;
    height: auto;
}

.gallery {
    margin-top: 40px;
    background-color: #e8f5e9;
    padding: 2rem;
}

.gallery h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 2rem;
}

.gallery-images {
    display: flex;
    flex-direction: column;
}

.gallery-images p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 5rem;
}

.image-container img {
    width: 17rem;
    height: 17rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.close-btn {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.bookingform {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limit the width of the form */
    margin: auto; /* Center the form */
    margin-top: 3rem;
}

h2 {
    color: #4CAF50; /* Green */
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
   
}

button:hover {
    background-color: #45a049; /* Darker green */
}