body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.bighead {
    color: #ff0000cb;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 12px;
    /* line-height: 15px; */
}
.bighead:hover{
    cursor: pointer;
    /* color: #b9b7b7cb;
     font-family:Arial, Helvetica, sans-serif; 
     padding: 30px; 
    letter-spacing: 12px; */
}
header {
    background: #028a2f;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.reservation-form {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}
